nav {
  .navbar-brand {
    img {
      transition: box-shadow 0.3s;
    }
    img:hover {
      box-shadow: 0 0 20px rgba(33, 33, 33, 0.5);
      border: 0px solid transparent;
      border-radius: 1px;
    }
  }
}

footer {
  .socmed {
    a {
      color: white;
    }
    a {
      i:hover {
        color: #e6e6e3 !important;
      }
    }
    a:hover {
      color: #e6e6e3 !important ;
    }
  }
}
