@use "../variables/variables" as *;

.proker-judul {
  font-family: $font_primary;
}

.proker-wrapper {
  max-width: 700px !important;
  h1 {
    font-family: $font_primary;
  }
  p {
    font-family: $font_secondary;
  }
  .proker-content {
    max-width: 500px;
  }
}

@media only screen and (max-width:768px){
  .border-2{
    --bs-border-width: 0px !important;
  }
}

// .judulatas
//   font-size: 48px;
//   margin-top: 100px;
//   margin-bottom: 100px;
//   font-family: $font_primary;
// }
// .judulbawah {
//   font-size: 32px;
//   margin-bottom: 50px;
//   margin-top: 50px;
// }

// .balok {
//   width: 700px;
//   border-radius: 50px;
//   margin-bottom: 100px;
// }

// .sub-judul {
//   font-weight: bold;
//   margin-left: 50px;
//   margin-right: 50px;
//   font-size: 18px;
// }

// .penjelasan {
//   margin-left: 50px;
//   margin-right: 50px;
//   font-size: 18px;
// }

// .tombol {
//   font-size: 60px;
//   margin-left: 100px;
//   margin-right: 100px;
// }

// #hal-2 {
//   display: none;
// }

// #hal-3 {
//   display: none;
// }
