@use "../variables/variables" as *;

.utama {
  //background
  background: rgb(0, 108, 56, 0.3) url("/ASSETS/Logo/Source\ -\ bg.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;

  //layout
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;

  //font
  color: white;
  font-family: $font_primary;
  h1,
  h2 {
    font-weight: bold;
  }

  //logo
  .logo {
    margin: 25px 0;
    height: 75px;
    display: flex;
    gap: 30px;
    img {
      height: 100%;
      width: auto;
    }
  }
}

//phone
@media only screen and (max-width: 768px) {
  .utama {
    padding: 5vw;
    h1 {
      font-size: min(9vw, 45px);
    }
    h2 {
      font-size: min(7vw, 30px);
    }
    .logo {
      height: 12vw;
      gap: 5vw;
      max-height: 60px;
      margin: 3vw 0;
    }
  }
}

//tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .utama {
    h1 {
      font-size: 6vw;
    }

    h2 {
      font-size: 4vw;
    }

    .logo {
      height: 7vw;
      gap: 3vw;
      max-height: 70px;
      margin: 3vw 0;
    }
  }
}

//dekstop
@media only screen and (min-width: 1024px) {
  .utama {
    h1 {
      font-size: 75px;
    }

    h2 {
      font-size: 50px;
    }
  }
}
