@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');
$theme-colors : (
    "primary" : #006C38,
) ;

*{
    margin : 0;
    padding : 0;
}



h2,p,h6,h3 {
    font-family: 'Montserrat', sans-serif;
    
}




























@import "../node_modules/bootstrap/scss/bootstrap.scss" ;