* {
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  transition: all 0.4s ease-in-out;
}

$spacer: 1.5rem;
$theme-colors: (
  "primary": #006c38,
  "secondary": #01341b,
);
@import "../node_modules/bootstrap/scss/bootstrap.scss";
